<div class="outer"> 
    <div class="login-container">
      <div class="login-card">
        <div class="avatar"></div>
        <form (ngSubmit)="submitLogin()">
          <div class="form-group">
            <input type="email" [(ngModel)]="emailAddress" name="emailAddress" id="emailAddress" placeholder="Email ID" required />
            <span class="icon icon-email"></span>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="userPassword" name="userPassword" id="userPassword" placeholder="Password" required />
            <span class="icon icon-password"></span>
          </div>
          <div class="form-options">
            <label><input type="checkbox" /> Remember me</label>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" class="login-btn">LOGIN</button>
          <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
          <p class="form-footer">Don't have an account? <a routerLink="/register">Register</a></p>
        </form>
      </div>
    </div>
  </div>
  

