<div class="navbar">
    <!-- <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a> -->
  </div>
  
  
  <div class="breaking-news">
      <h1></h1>
    </div>
    
    
    <!-- Sections for About Us and Contact when scrolled -->
    <div class="about-us-section" id="about">
      <h2>About Us</h2>
      <p>We provide the latest and most accurate news updates from trusted sources around the world.</p>
    </div>
    
    <div class="contact-section" id="contact">
      <h2>Contact</h2>
      <p>For inquiries, please contact us at infonewsplatform.com</p>
    </div>
  
  
